<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Recipe Index Page</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
</head>

<body>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<div class="bg-secondary">
					<div class="card-header">
						<h2 class="card-title">My Recipes!!!</h2>
					</div>
					<div class="card-body">
						<div class="table-responsive"
							th:if="${not #lists.isEmpty(recipes)}">
							<table class="table table-hover">								
								<thead class="thead-dark">
									<tr>
										<th>ID</th>
										<th>Description</th>
									</tr>
								</thead>
								<tr th:remove="all">
									<td th:text="${recipe.id}">123</td>
									<td th:text="${recipe.description}">Tasty Goodness 1</td>
								</tr>
								<tr th:remove="all">
									<td th:text="${recipe.id}">12333</td>
									<td th:text="${recipe.description}">Tasty Goodness 2</td>
								</tr>
								<tr class="table-primary" th:each="recipe : ${recipes}">
									<td class="font-weight-bold" th:text="${recipe.id}">334</td>
									<td class="font-italic" th:text="${recipe.description}">Tasty Goodness 3</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>